/****DOPE COLORS****
#00002d dark blue
#5DA399 dim candle green
#00f3ff light blue
#ffb940 dim orange 
#00acee twitter logo color ***/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images.jpeg);
    background: #1b1b1b;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;    
}
.main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    
    color: #ffb940;
    margin: 2em 2em 0 0;
    transition: all .5s linear;
    
   
}
h2:hover{
    border-bottom: 1px solid #ffb940;
    
}

/* .main-div-div{
    
} */

nav .text{
    position: relative;
    color: #ffb940;
}


h1{
    color: #fff;
    font-size: 37px;
    text-transform: uppercase;
    margin: 30px 0 0 20px;
}
/* .navigation{
 
} */
.nav-items{
   list-style: none;

    
}
.nav-lists{
    border: 2px solid orange;
    text-decoration: dashed;
  
}
.fa-id-card{
    color:#ffb940;
    font-size: 58px;
    margin: 30px 20px 0 0;
}

.text.second-text:before{
  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#1b1b1b;
    border-left: 2px solid #ffb940;
    animation: animate 4s steps(12) infinite;

}
/* @keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
} */

.second-first-div{
/* margin-left: 260px;  */
margin-top: 110px;
text-align: center;
   
}
.span-2 {
    color: rgb(197, 205, 200);
    text-transform: uppercase;
    font-family: Arial;
    padding-bottom: 1000px;
    
}
.span-2 h1 {
    font-size: 55px;

}

p{
  
    font-size: 24px;
    color: #fff;
    margin-top: 5px;
    /* text-align: center; */
    width: 400px;
    margin-left: 490px;
   
}

.second-second-div{
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}


li{
    padding-top: 10px;
    margin-top: 10px;
}    

.fa-brands{
    color: #fff;
    font-size: 24px;  
}
.fa-facebook, .fa-whatsapp, .fa-instagram, .fa-linkedin, 
.fa-twitter{
    transition: all 1s;
}
.fa-facebook:hover{
    color: #3b5998;
}
.fa-whatsapp:hover{
   color: #59ce72; 
}
.fa-instagram:hover{
color: rgba(218, 29, 4, 0.973); 
}
.fa-linkedin:hover{
    color: #0e76a8;
}
.fa-twitter:hover{
    color: #00acee;
}
h4{
    color: #fff;
    width: 100%;
}
.m{
    color:#ffb940;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
/* button{
    width: 150px;
    height: 30px;
    margin-top: 30px;
    font-size: 17px;   
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
} */

/* .a{
   font-size: 18px;
   font-weight: 200;
   padding: 10px;
   margin-top: 25px;
   width: 30px;
} */
/* .logic{
    /* padding-top: 35px;   */
    /* transition: all linear; */
    /* font-size: 22px;
    text-decoration: none;
    color:#ffb940;
    background-color:transparent ;
    border-radius: 10px;
    width: 300px;
    height: 20px;
    border: solid 0.1px;

  }  */
.logic:hover{
    text-decoration: underline;
}
.sep{
    display: flex;
    align-items: center;
    
    align-items: center;
    margin-top: 30px;
    margin-left: 530px;
}

.sep button{
    height: 40px;
    width: 150px;
    margin-right: 25px;
    background-color: #ffb940;
    border: none;
    border-radius: 30px;
}

.sep h4 a{
    height: 40px;
    width: 150px;
    
}


.su{
    color: #1b1b1b;
    font-size: 14pt;
    font-weight: 500;
    text-decoration: none;
 
   
}

/*****8
ul li{
    display: inline;
    justify-content: space-around;
    align-items: center;
}
.first-div{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}
.first-div h2{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

*********/
.navbar {
    background: #f2f2f2;
    padding: 10px;
    height: 80px;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: flex-end; 
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .left{
    margin-right: auto;

  }
  .navbar-menu li {
    margin-left: 20px;
    margin-top: 20px;
    float:right;
    font-size: 20px;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    color: #ff0000; /* Update with your desired hover color */
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background: #f2f2f2;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
  }
  
  .dropdown-menu li {
    margin-left: 0;
  }
  
  .dropdown-menu li a {
    display: block;
    padding: 10px;
    color: #333;
  }   
