*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
   
}

.user{
  width: 300px;
  border: 1px solid;
  outline: none;
  padding: 1px;
  margin-top: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  
 
}
  
  .image{
    width:100px;
    height: 90px;
  }
  

.navbar {
    background: #caf0f8;
    padding: 10px;
    height: 90px;
    width: 100%;
    top: 0;
    /* display: flex;
    justify-content: flex-end;
    flex-direction: column; */
  }
  
  .navi{
    display: flex;
    
    justify-content: space-between; 
    list-style: none;
    margin: 0;
    padding: 0;
    top: 0;
  }
  .left{
    margin-right: auto;

  }
  .navbar-menu{
    /* margin-left: 20px;
    margin-top: 20px;
    float:right;
    font-size: 20px; */
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    align-items: center;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    float:right;
  }
  
  .navbar-menu a:hover {
    color: #ff0000; /* Update with your desired hover color */
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background: #f2f2f2;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
  }
  
  .dropdown-menu li {
    margin-left: 0;
  }
  
  .dropdown-menu li a {
    display: block;
    padding: 10px;
    color: #333;
  }   
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

   
}
.font{
    font-size: 16px;
    font-weight: 600;
}

.generator{
    color: #fff;
    background: #023550;
    height: 40px;
  width: 150px;
  margin-right: 25px;
  border: none;
  border-radius: 30px;
  transition: all .6s linear;
  margin-top: 15px;
}
h2{
    color: #333;
}


